footer {
<<<<<<< HEAD
    background-color:#00FF00;
    height:60px;
    white-space: nowrap;
    width:100%;
    text-align:center;
    line-height:60px;
    position:fixed;
    bottom:0px;
=======
background-color: #00ff00;
height: 60px;
width: 100%;
position: absolute;
right: 0;
bottom: 0;
left: 0;
margin: auto;
}

.foot_p {
    text-align: center;
>>>>>>> 249a70fc5741cd1739c9a836e540476715d1f74e
}