<<<<<<< HEAD
header {
    background-color:#FF0000;
    height:70px;
    width:100%
}
=======
header{
    height: 70px; 
    background: red; 
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
}
>>>>>>> 249a70fc5741cd1739c9a836e540476715d1f74e
