<<<<<<< HEAD
header {
    background-color:white;
    height:70px;
    width:100%;
    border-bottom: 1px #CCCCCC;
    border-bottom-style: solid;
    background: url(../images/logo.png);
    background-repeat:no-repeat;
    background-position: 20px;
}
=======
header{
    height: 70px; 
    background: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
}
>>>>>>> 249a70fc5741cd1739c9a836e540476715d1f74e
